.venv/
.git/
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

Research/
*.ipynb
**/.ipynb_checkpoints/

Pipelines/data/
Pipelines/logs/
Pipelines/state/
Pipelines/jobs/

Pipelines/run_pipeline.ps1
Pipelines/README.Docker.md
Pipelines/ARQUITETURA.md
